html{
			background-color: wheat;
			text-align: center;
			/*background-image: url('yellow_bg.jpg');*/
			background-size: cover;
			background-repeat: no-repeat;
			/*background: linear-gradient(to right bottom, #e6eeff, #6699ff);*/
			background-color: #ffff80;
		}
		div{
			font-size: 30px;
			text-align: center;
			background-color: white;
			display: inline-block;
			margin-top: 60px;
			padding: 40px;
			/*animation: blnk 630ms infinite;*/
			border-radius: 767px;
			border: 20px solid orange;
			}
		#h1{
			font-size: 45px;
			font-family: cursive;
			color: orange;
			/*text-shadow: 1px 1px 80px orange;*/
		}
		button{
			font-size: 30px;
			background-color: white;
			-webkit-border-radius: 30px;
			border-radius: 30px;
			color: orange;
			border: 2px solid orange;
			display: inline-block;
			animation: blnk 630ms infinite;
		}

		@keyframes blnk{
			0%{
				border: 2px solid orange;
				color: yellow;
			}
			20%{
				border: 2px solid green;
				color: green;
			}
			40%{
				border: 2px solid red;
				color: red;
			}
			60%{
				border: 2px solid blue;
				color: blue;
			}
			80%{
				border: 2px solid yellow;
				color: yellow;
			}
			100%{
				border: 2px solid orange;
				color: orange;
			}
		}
		button:hover{
			/*text-decoration: underline;*/
			border-color: red;
			color: red;
			cursor: pointer;
		}
		#gm{
			/*float: right;*/
			align-items: center;
			justify-content: center;
			text-align: center;
		}
		#res{
			/*color: black;*/
		}
		form{
			/*font-size: 35px;*/
			color: orange;
			font-weight: bolder;
		}
		input{
			/*font-size: 25px;*/
			margin-bottom: 20px;
			border: 2px solid orange;
			border-radius: 10px;
		}
		#img{
			height: 80px;
			width: 80px;
		}
